<html lang="en">

<%- include header %>
<!-- Main component for a primary marketing message or call to action -->
<div class="container">
  <h3 class="text-center">My Dashboard</h3>

  <div class="mainContainer">
    <a class="container1 hvr-shrink" href="/home/dashboard/prearrival">
      <h6 class="container-header">Pre-Arrival checklist</h6>
    </a>

    <a class="container2 hvr-shrink" href="/home/dashboard/postarrival">
      <h6 class="container-header">Post-Arrival checklist</h6>
    </a>

    <a class="container3 hvr-shrink" href="/home/dashboard/immigration">
      <h6 class="container-header">Immigration</h6>
    </a>

    <a class="container5 hvr-shrink" href = "/home/dashboard/transport">
      <h6 class="container-header">Transport</h6>
    </a>

    <a class="container6 hvr-shrink" href = "/home/dashboard/health">
      <h6 class="container-header">Health and Wellness</h6>
    </a>

    <a class="container7 hvr-shrink" href = "/home/dashboard/dining">
      <h6 class="container-header">Dining and living</h6>
    </a>

    <a class="container8 hvr-shrink" href="/home/dashboard/campuslife">
      <h6 class="container-header">On and Off campus life</h6>
    </a>

    <a class="container9 hvr-shrink" href="/home/dashboard/events">
      <h6 class="container-header">Events</h6>
    </a>
  </div>
</div>
<%- include footer %>
