  <%include header%>
  <html>
  <head>
    <meta charset="UTF-8">
  </head>
  <body>
    <div class="container">
    <h3 class="text-center jumbotron">Important Events</h3>
<p class="text-center"><a href="https://events.rit.edu/" target="_blank">For RIT US events calender</a></p>
<p class="text-center"><a href="http://www.croatia.rit.edu/events" target="_blank">For RIT Croatia events calender</a></p>
<p class="text-center"><a href="https://www.rit.edu/dubai/events" target="_blank">For RIT Dubai events Calender</a></p>
      </div>
    </body>
    </html>
  <%include footer%>
