<%include header%>

<html>
<head>
  <meta charset="UTF-8">

</head>
<body>
  <div class="container">
  <h3 class="text-center jumbotron">Health and Wellness</h3>
  <div>
  <p>  RIT offers a lot of health and wellness programs such as fitness classes, Blood pressure screenings, free cooking classes, Health Specialists.</p>

  Some of the Useful links:

  <p>
    <br/>
  <a href="https://www.rit.edu/studentaffairs/studenthealth/" target="_blank">Student Health<a><br/>

  <a href="https://www.rit.edu/fa/betterme/" target="_blank">Better Me</a><br/>

  <a href="http://www.rit.edu/dubai/student-health-insurance" target="_blank">Health Insurance Dubai</a><br/>

  <a href="https://www.rit.edu/studentaffairs/parentsandfamilies/health-resources" target="_blank">Student and Family Health Resources</a><br/>
      </a></a></p></div>
  </div>
  </body>
  </html>
<%include footer%>
