<%include header%>

<html>
<head>
  <meta charset="UTF-8">

</head>
<body>
  <div class="container">
  <h3 class="text-center">Immigration Information</h3>

<p class="text-center">
  As far as the immigration is concerned, it is strongly recommended to go the RIT International services.
  <div class="immigration-anchor">
    <a href ="https://www.rit.edu/studentaffairs/iss/"><img src="/assets/images/usa.png" width="50" height = "50">&nbsp; RIT US</a><br/>
    <a href ="https://www.rit.edu/dubai/student-affairs/international-students"><img src="/assets/images/dubai.png" width="50" height ="50">&nbsp; RIT Dubai</a><br/>
    <a href ="http://www.croatia.rit.edu/international-students/"><img src="/assets/images/croatia.png" width="50" height ="50">&nbsp; RIT Croatia</a><br/>
</div>
</p>
  </body>
  </html>
<%include footer%>
