<html lang="en">
<head>
</head>
<body>
  <div class="container">
    <p>
      Places to buy food include: smaller mini-markets, supermarkets, fresh green markets and of course local restaurants.  Local cuisine is influenced by Italian (especially around the coast), German and French cuisine (continental Croatia).  There are some traces of Turkish or Greek influences, particularly in fast food.
    </p>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1K31dJK97FviVRsnWpA4ZeWlpThSehRbw" width="640" height="480"></iframe>
</html>
