<html lang="en">
<head>

</head>
<body>

  <div class="container" >

    <p>
      RIT US Dining Services operates 21 campus locations including 6 restaurants and dining halls, 5 markets and convenience stores, 6 express dining locations, a full service catering department, 3 venues that offer full concessions and all campus dining. Our talented, personable and dedicated staff are available at any time to answer questions to help you achieve consistent positive experiences
    </p>

      <iframe style="width: 100%; height: 70%;" src="https://maps.rit.edu/embed.php?zoom=16&lat=43.0836270080477&lng=-77.67494750000003&tags=Food&start=0&rows=10&displaylink=true" title="RIT Campus Map" scrolling="no" frameborder="0"></iframe>

  </div>

</body>
</html>
