<html lang="en">
<head>

</head>
<body>

  <div class="container" >

    <p>At RIT Dubai, students can enjoy a rich variety of food options that are all reasonably priced.
      Students can prepare their own meals in shared kitchens within their housing and there are restaurants nearby that offer breakfast, lunch, and dinner, the closest being Cafe Mio (housing block C).</p>
  <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1N092fXS_tgQwtzIg99bksz1HlHG-wLxM" width="640" height="480"></iframe>
  </div>

</body>
</html>
