<%include header%>

<html>
<head>
  <meta charset="UTF-8">

</head>
<body>
  <div class="container">
  <h3 class="text-center jumbotron">Transport Info</h3>
      <iframe style="width: 550px; height: 450px;" src="https://maps.rit.edu/embed.php?zoom=14&lat=43.08193825342456&lng=-77.67231052380372&start=0&rows=10&displaylink=true" title="RIT Campus Map" scrolling="no" frameborder="0"></iframe> </div></body>
  </html>
<%include footer%>
